<header>  
  <nav id="nav-bar">
    <ul>
      <li <% if (title === "Home Page") { %>class="active"<% } %> ><a href="/">Home</a></li>
      <li <% if (title === "Gallery") { %>class="active"<% } %> ><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
</header> 