<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

<%- include('partials/header') %>

<section>
  <h1>Home Page</h1>
</section>

<%- include('partials/footer') %>

</body>
</html>